$theme-light-color: #d2e3c3; 
$theme-hover-color: #c0daaa;
$theme-border-color: #aeca93;
.global-padding{
    padding-left: 2rem;
    padding-right: 2rem;
}
.global-border-radius{
    border-radius: 5px;
}

$width: 1440px;
